<!DOCTYPE html>

<html lang="cs">
    <head>
        <title>Red Hat–DevConf.cz Coding Challenge</title>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

        <!-- Custom CSS -->
        <style>
            .footer {
                background-color: #ECEEEF;
                padding: 1em;
                margin-top: 5em;
            }
        </style>
    </head>
    <body>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Red Hat</li>
                <li class="breadcrumb-item">
                    <a href="{{ url_for('form') }}">DevConf.cz Coding Challenge</a></li>
                <li class="breadcrumb-item active">Admin</li>
            </ol>
        </nav>

        <div class="container">
            <h1>Red Hat–DevConf.cz Coding Challenge</h1>
            <div class="row">
                <div class="col">
                    <p class="lead">
                        View the <a href="{{ url_for('winners', password=password) }}">Admin Scorebeard</a>.
                    </p>
                    <form method="POST" action="{{ url_for('admin', password=password) }}">
                    <table class="table">
                        <tr>
                            <th>
                                Site Settings
                            </th>
                            {% for setting_slug, setting_text in SETTING_TUPLES %}
                            <td class="checkbox">
                                <input type="checkbox" name="{{ setting_slug }}" value="on"
                                    {%- if setting_slug in settings
                                           and settings[setting_slug] == 1 -%}
                                        checked="checked"
                                    {%- endif -%}>
                                {{ setting_text }}
                            </td>
                            {% endfor %}
                            <td>
                                <button type="submit" class="btn btn-primary btn-sm">Set</button>
                            </td>
                        </tr>
                    </table>
                    </form>
                    <table class="table">
                        <tr>
                            <th>
                                API
                            </th>
                            <td>
                                <a href="{{ url_for('api_unrated', password=password) }}">
                                    Unrated</a>
                            </td>
                            <td>
                                <a href="{{ url_for('api_rate', password=password) }}">
                                    Rate</a>
                            </td>
                            <td>
                                <a href="{{ url_for('api_invalid', password=password,
                                                    filename="PUT_FILENAME_HERE") }}">
                                    File invalid</a>
                            </td>
                        </tr>
                    </table>
                    <p>
                        Ordered by TBD
                    </p>
                </div>
            </div>
            <table class="table">
                <tr>
                    <th>
                        Name<br/>
                        Email
                    </th>
                    <th>
                        Redhatter?<br/>
                        Token
                    </th>
                    <th>
                        Python file
                    </th>
                    <th>
                        C file
                    </th>
                    <th>
                        Java file
                    </th>
                </tr>
                {% for token, elem in data %}
                <form method="POST" action="{{ url_for('admin', password=password, token=token) }}">
                <tr>
                    <td>
                        {{ elem["name"] }}<br/>
                        {{ elem["email"] }}
                    </td>
                    <td>
                        {% if elem["is_redhatter"] == '1' %}
                        <span style="color: green; ">
                            ☑ Yes
                        </span>
                        {% else %}
                        <span style="color: red; ">
                            ☒ No
                        </span>
                        {% endif %}
                        <br/>
                        {{ token }}
                    </td>
                    {% for file_slug, file_label in zip(FILES, FILE_LABELS) %}
                    <td>
                        {% if file_slug in elem %}
                            <a href="{{ url_for('file', filename=elem[file_slug].filename) }}" target="_blank">
                                {{ elem[file_slug].filename }}</a>
                        {% else %}
                            No file
                        {% endif %}
                    </td>
                    {% endfor %}
                </tr>
                </form>
                {% endfor %}
            </table>
        </div>

        <footer class="footer">
            <div class="container">
                <p class="text-right">
                    © 2018 Red Hat, Tomáš Orsava, Petr Viktorin.
                    Licensed under
                    <a href="https://github.com/encukou/feedback-form/blob/master/LICENSE">MIT</a>.
                </p>
                <p class="text-right">
                    Source code on
                    <a href="https://github.com/torsava/devconf-coding-challenge-webform">Github</a>.
                </p>
            </div>
        </footer>
    </body>
</html>
