<!DOCTYPE html>

<html lang="cs">
    <head>
        <title>Red Hat–PyCon CZ Coding Challenge</title>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

        <!-- Custom CSS -->
        <style>
            .footer {
                background-color: #ECEEEF;
                padding: 1em;
                margin-top: 5em;
            }
        </style>
    </head>
    <body>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Red Hat</li>
                <li class="breadcrumb-item active">PyCon CZ Coding Challenge</li>
            </ol>
        </nav>

        <div class="container">
            {% if warning == 'file-too-large' %}
                <div class="alert alert-warning" role="alert">
                    One of the files you supplied is larger than 1MB and has
                    not been uploaded.
                </div>
            {% endif %}
            {% if warning == 'wrong-extension' %}
                <div class="alert alert-warning" role="alert">
                    One of the files you supplied does not have a Python file
                    extension (.py) and has not been uploaded.
                </div>
            {% endif %}
            {% if show_thankyou %}
                <div class="alert alert-success" role="alert">
                    Thank you for submiting an entry!
                    If you wish to change or supplement your answers, return to
                    this page
                    (<a href="{{ url_for('form', token=token) }}">permalink</a>).
                </div>
            {% endif %}
            <h1>Red Hat–PyCon CZ Coding Challenge</h1>
            <div class="row">
                <div class="col">
                    <p class="lead">
                        Link to the challenge text TODO
                    </p>
                    <p>
                        Some other text TODO
                    </p>
                </div>
            </div>
            <form method="POST" action="{{ url_for('form', token=token) }}"
                    enctype="multipart/form-data">
                <div class="form-group">
                    <label for="example-text-input">
                        Your name:
                    </label>
                    <input class="form-control" id="name" name="name"
                       value="{{ data.get('name', '') }}">
                </div>
                <div class="form-group">
                    <label for="example-text-input">
                        Your email address:
                    </label>
                    <input class="form-control" id="email" name="email"
                        value="{{ data.get('email', '') }}">
                </div>
                <div class="form-group">
                    <label for="example-text-input">
                        <input id="wants_job" name="wants_job" type="checkbox"
                            {%- if data.get('wants_job', '0') != '0' -%}checked{% endif %}>
                        I don't mind being contacted about a job offer at Red Hat one time
                    </label>
                </div>
                {% for file_slug in FILES %}
                <div class="form-group">
                    <label for="example-text-input">
                        Python 3 script that solves the {{ ('1st', '2nd', '3rd')[loop.index0] }} problem
                        <span class="text-muted">
                            -
                            {% if files.get(file_slug) %}
                                <a href="{{ url_for('file', filename=files.get(file_slug)) }}" target="_blank">
                                    View current file.</a>
                            {% else %}
                                No file uploaded yet.
                            {% endif %}
                        </span>
                    </label>
                    <input class="form-control" id="{{ file_slug }}" name="{{ file_slug }}" type="file">
                </div>
                {% endfor %}
                <div class="form-group form-inline">
                    <button type="submit" class="btn btn-primary form-control">Send</button>
                </div>
            </form>
        </div>

        <footer class="footer">
            <div class="container">
                <p class="text-right">
                    © 2017, Petr Viktorin, Tomáš Orsava.
                    Licensed under
                    <a href="https://github.com/encukou/feedback-form/blob/master/LICENSE">MIT</a>.
                </p>
                <p class="text-right">
                    Source code on
                    <a href="https://github.com/torsava/pyconcz-form">Github</a>.
                </p>
            </div>
        </footer>
    </body>
</html>
