<!DOCTYPE html>

<html lang="cs">
    <head>
        <title>Red Hat–DevConf.cz Coding Challenge</title>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

        <!-- Custom CSS -->
        <style>
            .footer {
                background-color: #ECEEEF;
                padding: 1em;
                margin-top: 5em;
            }
        </style>
    </head>
    <body>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Red Hat</li>
                <li class="breadcrumb-item active">DevConf.cz Coding Challenge</li>
            </ol>
        </nav>

        <div class="container">
            {% if warning == 'file-too-large' %}
                <div class="alert alert-warning" role="alert">
                    One of the files you supplied is larger than 1MB and has
                    not been uploaded.
                </div>
            {% endif %}
            {% if warning == 'wrong-extension' %}
                <div class="alert alert-warning" role="alert">
                    You can only upload files with the proper extension:
                    <b>.py</b> for Python, <b>.c</b> for C, and <b>.java</b> for Java
                </div>
            {% endif %}
            {% if show_thankyou %}
                <div class="alert alert-success" role="alert">
                    Thank you for submiting an entry!
                    If you wish to change or supplement your answers, return to
                    this page
                    (<a href="{{ url_for('form', token=token) }}">permalink</a>).
                </div>
            {% endif %}
            <h1>Red Hat–DevConf.cz Coding Challenge</h1>
            <div class="row">
                <div class="col">
                    <p class="lead">
                        The instructions can be found on our
                        <a href="https://github.com/fedora-python/pyconcz-challenge/">GitHub</a>.
                    </p>
                        {% if submissions_enabled %}
                            <b>
                                The submission deadline is TBD, and
                                the winners will be announced at TBD at the
                                TBD booth.
                            </b>
                        {% else %}
                            The deadline has been reached and further
                            submissions have been disabled.
                        </p>
                        <p>
                            <b>
                                The winners will be announced at TBD at the
                                TBD booth.
                            </b>
                        {% endif %}
                    </p>
                    <p>
                        {% if scoreboard_enabled %}
                            Evaluation is finished, visit the
                        {% else %}
                            After the evaluation, results will be visible on the
                        {% endif %}
                        <a href="{{ url_for('winners', token=token) }}">Scorebeard</a>.
                    <p>
                    </p>
                </div>
            </div>
            {% if submissions_enabled %}
            <form method="POST" action="{{ url_for('form', token=token) }}"
                    enctype="multipart/form-data">
                <div class="form-group">
                    <label for="example-text-input">
                        Your name (may be visible on the scoreboard):
                    </label>
                    <input class="form-control" id="name" name="name"
                       value="{{ data.get('name', '') }}">
                </div>
                <div class="form-group">
                    <label for="example-text-input">
                        Your email address (required to win a prize):
                        <span style="font-size: 10pt"><br/>
                            Participants may be contacted one time by Red Hat.
                        </span>
                    </label>
                    <input class="form-control" id="email" name="email"
                        value="{{ data.get('email', '') }}">
                </div>
                <div class="form-group">
                    <label for="example-text-input">
                        <input id="is_redhatter" name="is_redhatter" type="checkbox"
                            {%- if data.get('is_redhatter', '0') != '0' -%}checked{% endif %}>
                            I am already a Red Hatter
                    </label>
                </div>
                {% for file_slug, file_label in FILE_TUPLES %}
                <div class="form-group">
                    <label for="example-text-input">
                        Solution using {{ file_label }}
                        <span class="text-muted">
                            -
                            {% if files.get(file_slug) %}
                                <a href="{{ url_for('file', filename=files.get(file_slug)) }}" target="_blank">
                                    View current file.</a>
                            {% else %}
                                No file uploaded yet.
                            {% endif %}
                        </span>
                    </label>
                    <input class="form-control" id="{{ file_slug }}" name="{{ file_slug }}" type="file">
                </div>
                {% endfor %}
                <div class="form-group form-inline">
                    <button type="submit" class="btn btn-primary form-control">Send</button>
                </div>
            </form>
            {% endif %}
        </div>

        <footer class="footer">
            <div class="container">
                <p class="text-right">
                    © 2018 Red Hat, Tomáš Orsava, Petr Viktorin.
                    Licensed under
                    <a href="https://github.com/encukou/feedback-form/blob/master/LICENSE">MIT</a>.
                </p>
                <p class="text-right">
                    Source code on
                    <a href="https://github.com/torsava/pyconcz-form">Github</a>.
                </p>
            </div>
        </footer>
    </body>
</html>
