<!DOCTYPE html>

<html lang="cs">
    <head>
        <title>Red Hat–DevConf.cz Coding Challenge</title>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

        <!-- Custom CSS -->
        <style>
            .footer {
                background-color: #ECEEEF;
                padding: 1em;
                margin-top: 5em;
            }

            .table tr td, .table tr th {
                text-align: center;
            }

            .table tr td:first-child {
                text-align: left;
            }

            .table-spacer {
                width: 15pt;
            }
        </style>
    </head>
    <body>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Red Hat</li>
                <li class="breadcrumb-item">
                    <a href="{{ url_for('form', token=token) }}">DevConf.cz Coding Challenge</a></li>
                {% if admin_mode %}
                <li class="breadcrumb-item">
                    <a href="{{ url_for('admin', password=password) }}">Admin</a></li>
                {% endif %}
                <li class="breadcrumb-item active">Scoreboard:
                    {% if rh_mode %}
                        Red Hatters
                    {% else %}
                     non–Red Hatters
                     {% endif %}
                </li>
            </ol>
        </nav>

        <div class="container">
            <h1>Red Hat–DevConf.cz Coding Challenge</h1>
            <div class="row">
                <div class="col">
                    <p class="lead">
                        For the <b>first round</b>, the <b>submission deadline is Saturday, 16:00</b>, and
                        the <b>winners</b> will be announced at <b>17:00 at the
                        Red Hat booth.</b><br/>
                        The second round ends on Sunday at
                        12:00 and will be announced at 13:00.
                    </p>
                    {% if scoreboard_enabled or admin_mode %}
                        <p>
                            {% if rh_mode %}
                            This is a scoreboard for <b>Red Hatters</b>,
                            click here to display the
                            <a href="{{ url_for('winners', token=token, password=password, rh_string='nonrh', language=language, order=order) }}">
                                non–Red Hatter scoreboard.</a>
                            {% else %}
                            This is a scoreboard for <b>non–Red Hatters</b>,
                            click here to display the
                            <a href="{{ url_for('winners', token=token, password=password, rh_string='rh', language=language, order=order) }}">
                                Red Hatter scoreboard.</a>
                            {% endif %}
                        </p>
                    {% endif %}
                    </p>
                </div>
            </div>
            {% if scoreboard_enabled or admin_mode %}
            <table class="table table-sm table-hover table-responsive">
                <thead class="thead-default">
                <tr>
                    <th>
                        Contestant
                    </th>
                    <th class="table-spacer"></th>
                    <th colspan=3>
                        Python 3 solution
                    </th>
                    <th class="table-spacer"></th>
                    <th colspan=3>
                        C solution
                    </th>
                    <th class="table-spacer"></th>
                    <th colspan=3>
                        Java solution
                    </th>
                </tr>
                <tr>
                    <th>
                        {% if admin_mode %}
                        Email
                        {% endif %}
                    </th>
                    {% for lang in LANGUAGES %}
                    <th class="table-spacer"></th>
                    <th>
                        {% if language == lang and order == 'time' %}
                        Time
                        {% else %}
                        <a href="{{ url_for('winners', token=token, password=password,
                                            rh_string=rh_string, language=lang, order='time') }}">
                            Time</a>
                        {% endif %}
                    </th>
                    <th>
                        {% if language == lang and order == 'memory' %}
                        Memory
                        {% else %}
                        <a href="{{ url_for('winners', token=token, password=password,
                                            rh_string=rh_string, language=lang, order='memory') }}">
                            Memory</a>
                        {% endif %}
                    </th>
                    <th>
                        {% if language == lang and order == 'tokens' %}
                        Tokens
                        {% else %}
                        <a href="{{ url_for('winners', token=token, password=password,
                                            rh_string=rh_string, language=lang, order='tokens') }}">
                            Tokens</a>
                        {% endif %}
                    </th>
                    {% endfor %}
                </tr>
                {% for token, elem in data %}
                </thead>
                <tbody>
                {% if admin_mode or elem["files_submitted"] > 0 %}
                <tr>
                    <td>
                        {{ elem["name"] }}
                        {% if admin_mode %}
                            <br/>{{ elem["email"] }}
                        {% endif %}
                    </td>
                    {% for file_slug in FILES %}
                        <td class="table-spacer"></td>
                        {% if file_slug in elem %}
                            {%- if elem[file_slug].valid == 1 -%}
                                {% for valuation in VALUATIONS %}
                                    {% if getattr(elem[file_slug], valuation, None) == None %}
                                        <td>
                                            —
                                        </td>
                                    {% else %}
                                        <td
                                        {% if elem["position"][file_slug][valuation] == 1 %}
                                            style="color: green"
                                        {% elif elem["position"][file_slug][valuation] == 2 %}
                                            style="color: GreenYellow"
                                        {% elif elem["position"][file_slug][valuation] == 3 %}
                                            style="color: lightgreen"
                                        {% endif %}
                                        >
                                        {% if valuation == "memory" %}
                                            {{ getattr(elem[file_slug], valuation) | round | int -}}
                                        {% else -%}
                                            {{ getattr(elem[file_slug], valuation) -}}
                                        {% endif -%}
                                        &nbsp;({{
                                           ordinal_number(elem["position"][file_slug][valuation]) }})
                                    {% endif %}
                                </td>
                                {% endfor %}
                            {%- elif elem[file_slug].valid == 0 -%}
                            <td colspan="3">
                                <span style="color: red;">☒ Solution invalid</span>
                            </td>
                            {%- else -%}
                            <td colspan="3">
                                Not evaluated yet
                            </td>
                            {%- endif -%}
                        {% else %}
                        <td colspan="3">
                            ☐ Not submitted
                        </td>
                        {% endif %}
                    </td>
                    {% endfor %}
                </tr>
                </form>
                {% endif %}
                {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>

        <footer class="footer">
            <div class="container">
                <p class="text-right">
                    © 2018 Red Hat, Tomáš Orsava, Petr Viktorin.
                    Licensed under
                    <a href="https://github.com/encukou/feedback-form/blob/master/LICENSE">MIT</a>.
                </p>
                <p class="text-right">
                    Source code on
                    <a href="https://github.com/torsava/devconf-coding-challenge-webform">Github</a>.
                </p>
            </div>
        </footer>
    </body>
</html>
